<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Bootstrap.php"
         colors="true"
         stopOnFailure="false"
         cacheResultFile=".phpunit.result.cache"
         failOnRisky="true"
         failOnWarning="false">
    <testsuites>
        <testsuite name="CodeIgniter RestServer Tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
